{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- One -->
    <section id="One" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <!-- swapped h2 and p -->
          <h2>Contact us</h2>
          <hr>
          <p>Get in touch with the Team</p>
        </header>
      </div>
    </section>
    <!-- Two -->
    <section id="two" class="wrapper style2">
      <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
      <div class="inner">
        <div class="gallery">
          <div>
            <div class="image fit">
              <h2>Call Us</h2>
              <p>
                Ananya : <i class="fa fa-phone" aria-hidden="true"></i> +91
                9008299589 (Senior Project Manager)
              </p>
              <p>
                Vridhi : <i class="fa fa-phone" aria-hidden="true"></i> +91
                9535423592 (Non-Technical Head)
              </p>
            </div>
          </div>
          <div>
            <div class="image fit" id="mail-us">
              <h2>Mail Us</h2>
              <p>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:stardustrit@gmail.com"> stardustrit@gmail.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="content">
            <header class="align-center">
              <h3>
                <i class="fa fa-map-marker" aria-hidden="true"></i> Address
              </h3>
            </header>
            <p style="text-align: center">
              MSR College Rd, M S Ramaiah Nagar, Mathikere, Bengaluru, Karnataka
              560054, India
            </p>
            <div class="map" style="text-align: center">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.0813423744644!2d77.56267741389706!3d13.030491890817311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17dedd4dcca9%3A0x6075bd8d8aed97ab!2sRamaiah%20Institute%20Of%20Technology!5e0!3m2!1sen!2sin!4v1600842823243!5m2!1sen!2sin"
              ></iframe>
            </div>
            <!--
						<div class="box">
							<div class="content">
								<header class="align-center">
								
								</header>
								<div class="row">
									<div class="col-sm-6" >
										<h3><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h3>
										<p>MSR College Rd, M S Ramaiah Nagar,<br> Mathikere, Bengaluru, Karnataka 560054, India </p></div>
									
									<div class="col-sm-6" style="margin-left:10vw;">
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.0813423744644!2d77.56267741389706!3d13.030491890817311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17dedd4dcca9%3A0x6075bd8d8aed97ab!2sRamaiah%20Institute%20Of%20Technology!5e0!3m2!1sen!2sin!4v1600842823243!5m2!1sen!2sin"></iframe></div>
			
								  </div>	-->
          </div>
        </div>
      </div>
    </section>

{% endblock content %}