{% extends 'base.html' %}
{% block content %}
{% load static %}
<!--Wanna do this dynamic as well?? your choice-->

    <!-- One -->
    <section id="One" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <!-- swapped h2 and p -->
          <h2>SUBSYSTEMS</h2>
          <hr>
          <p>S.T.A.R.D.U.ST comprises of 6 main subsystems</p>
        </header>
      </div>
    </section>
    <!-- Two -->
    <section id="two" class="wrapper style2">
      <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
      <div class="inner">
        <div class="box">
          <div class="content">
            <!-- <header class="align-center">
							<p>subsytems is what form the main system!</p>
							<p>S.T.A.R.D.U.ST comprises of 6 main subsytems</p>
						</header> -->
            <!--slide in-->
            <p id="subp" style="margin-top:0">Attitude Determination and Control System</p>
            <br /><br />
            <div class="wrap style1">
              <img id="subimg" src="{% static 'images/ADCS.gif' %}" alt="adcs" />
              <p id="slide1">
                <u>ADCS</u><br />
                This subsystem is responsible for stabilising, maintaining and controlling the attitude, or in simpler terms, the orientation of the satellite. <br>
                Based on this function, the satellite orients it's solar panels, antennas and particularly its payload instruments using actuators.
              </p>
            </div>

            <p id="subp">Electrical Power System</p>
            <br /><br />
            <div class="wrap">
              <img
                id="subimg"
                src="https://i.gifer.com/BXNA.gif"
              />
              <p id="slide2">
                <u>EPS</u><br />
                To excerpt and condition the energy source, for distributing required power to various sub-systems including detecting and mitigating faults in the following process
              </p>
            </div>

            <p id="subp">Ground Control And Communication System</p>
            <br /><br />
            <div class="wrap">
              <img id="subimg" src="{% static 'images/communication.jpg' %}" />
              <p id="slide1">
                <u>G&C</u><br />
                This subsystem is responsible for ensuring telecommunication between the satellite & another system, which may be either another satellite or a ground station. It provides the interface between the satellite & ground systems. The basic communications subsystem consists of a transmitter, a receiver, an antenna & a RF diplexer.
              </p>
            </div>

            <p id="subp">OnBoard Command and Data Handling System.</p>
            <br /><br />
            <div class="wrap">
              <img id="subimg" src="{% static 'images/ODHS.gif' %}" />
              <p id="slide2">
                <u>ODHS</u><br />
                The Onboard data handling subsytem is the brain of the satellite and is responsible for tasks such as data operations and issuing commands to multiple subsytems on-board the satellite.
              </p>
            </div>

            <p id="subp">PAYLOAD</p>
            <br /><br />
            <div class="wrap">
              <img id="subimg" src="https://directory.eoportal.org/documents/163813/5837501/PICASSO_in_orbit.gif" />
              <p id="slide1">
                <u>PAYLOAD</u><br />
                It refers to the actual function of the satellite. In other
                words, its the purpose of the satellite. Most satellite teams
                have a payload subsytem that works on deciding the purpose and
                the methodology of achieving this aim.
              </p>
            </div>

            <p id="subp">Structures and Thermal System</p>
            <br /><br />
            <div class="wrap">
              <img
                id="subimg"
                src="{% static 'images/payload.jpg' %}"

              />
              <p id="slide2">
                <u>S&T</u><br />
                The structure subsystem maintains an overall mechanical integrity of the satellite. It ensures that all the components are supported and enables the satellite to withstand and launch loads. The thermal subsystem maintains thermal stability on board and ensures optimum performance of the satellite by monitoring the operational temperature of all components.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}
