{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<!--Please try to shorten the founders section. Its too big. Even the core section as a matter of fact--><!--done-->
<!--And how many time faculty coordinators XD--><!--done-->
<!--Also no mention of other subsystem members and non technical team??--><!--done-->
  <!--  Please make section for them, even if just names--><!--done-->

  <!-- One -->
  <section id="One" class="wrapper style3" >
    <div class="inner">
        <header class="align-center">
            <!-- swapped h2 and p -->
            <h2>The Team</h2>
            <hr>
            <p>One team,One mission</p>
        </header>
    </div>
</section>

<!-- Two Dont delete these comments as it can be used further -->
<!--	<section id="two" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="content">
                <header class="align-center">
                    <p>maecenas sapien feugiat ex purus</p>
                    <h2>Lorem ipsum dolor</h2>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at dignissim augue, in iaculis neque.</p>
                
                <p>Vivamus nec odio ac ligula congue feugiat at vitae leo. Aenean sem justo, finibus sed dui eu,</p>>

                <p>Vivamus ultricies mollis mauris quis molestie. Quisque eu mi velit. In et cursus nibh. Donec facilisis, orci sed mollis hendrerit, nunc risus mattis odio, eget efficitur nisl orci a lectus. </p>
            </div>
        </div>
    </div>
</section>-->

<section id="three" class="wrapper style2">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="inner">
        <header class="align-center">
        <p class="special">
            We extend immense gratitude to the founding members of S.T.A.R.D.U.ST
        </p>
        <h2 data-aos="fade-down">The Founders</h2>
        </header>
        <!--Added one outer div of class container
				    removed the replaced the class gallery with row-->
			<div class="container">
                <div class="row team">
                    {% for f in founders %}
                    <div  data-aos="fade-up" class="col-lg-4 col-md-6 col-sm-12 aos-init aos-animate">
                        <!--<div class="flip-card-inner">-->
                            <div class="image fit team">
                                <img src="{{ f.image.url }}" alt="" /><br>
                                <h3>{{ f.name }}</h3>
                                <p>Founder</p>
                                <ul class="social-icons hide">
                                    <li><a class="mail" href="{{ f.email }}"><i class="fa fa-envelope"></i></a></li>
                                    <li><a class="linkedin" href="{{ f.linkedin }}"><i class="fa fa-linkedin"></i></a></li>   
                                </ul>
                            </div>
                        <!--<div class="image fit flip-card-back">
                            <h3>{{ f.name }}</h3>
                            <p>Founder</p>
                            <ul class="social-icons">
                                <li><a class="mail" href="{{ f.email }}"><i class="fa fa-envelope"></i></a></li>
                                <li><a class="linkedin" href="{{ f.linkedin }}"><i class="fa fa-linkedin"></i></a></li>   
                            </ul>
                        </div>
                    </div>-->
                </div>
                    {% endfor %}
            </div>
    </div>
</section>

<section id="three" class="wrapper style2">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
        <div class="inner">
            <header class="align-center">
            <p class="special"><!--our main team-->
           </p>
            <h2>The Core</h2>
            </header>
            <!--Added one outer div of class container
				    removed the replaced the class gallery with row-->
			<div class="container">
                <div class="row team">
                    {% for c in core %}
                    <div data-aos="fade-up" class="col-lg-4 col-md-6 col-sm-12 aos-init aos-animate">
                        <!--<div class="flip-card-inner">-->
                            <div class="image fit team">
                                <img src="{{ c.image.url }}" alt="" /><br>
                                <h3>{{ c.name }}</h3>
                                <p>{{ c.get_core_position_display }}</p>
                                <ul class="social-icons hide">
                                    <li><a class="mail" href="mailto:{{ c.email }}"><i class="fa fa-envelope"></i></a></li>
                                    <li><a class="linkedin" href="{{ c.linkedin }}"><i class="fa fa-linkedin"></i></a></li>   
                                </ul>
                            </div>
                            <!--<div class="image fit flip-card-back">
                                <h3>{{ c.name }}</h3>
                                <p>{{ c.post }}</p>
                                <ul class="social-icons hide">
                                    <li><a class="mail" href="mailto:{{ c.email }}"><i class="fa fa-envelope"></i></a></li>
                                    <li><a class="linkedin" href="{{ c.linkedin }}"><i class="fa fa-linkedin"></i></a></li>   
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    {% endfor %}
            </div>
        </div>
    </section>

    <!--members dropdown-->
    <section id="three" class="wrapper style2 members">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
            <div class="inner">
                <header class="align-center">
                    <p class="special">
                    </p>
                    <h2 data-aos="fade-down"> Members </h2><br>
                </header>

                <h3 style="text-align: center;" data-aos="fade-up">Technical</h3><hr>
                {% regroup tech by get_subsystem_display as team_list %}
                {% for t in team_list %} 
                <button class="accordion">{{ t.grouper }}</button>
                <div class="container panel">
                   
                    <div class="panel__wrapper-icon mb-100 brk-library-rendered" data-brk-library="component__panel">
                        {% for m in t.list %}
                            {% if m.position != "None" %}
                                <div class="panel__head all-light">
                                    <h4 class="head">{{ m.member.name }}</h4>
                                    <p class="headpost">{{ m.get_position_display }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for m in t.list %}
                            <!-- <ul class="panel__list">
                                {% if m.position == "None" %}
                                <li>
                                    <span class="line"></span>
                                    <i class="icon far fa-gem"></i>{{ m.member.name }}
                                </li>
                                {% endif %}								
                            </ul> -->
                            <ul class="panel__list">
                                {% if m.position == "None" %}
                                <li>
                                    <span class="line"></span>
                                    <i class="icon far fa-gem"></i>{{ m.member.name }}
                                </li>
                                {% endif %}
                            </ul>
                        {% endfor %}   
                    </div>
                    
                </div>
                {% endfor %}

                <br><br>

                <h3 style="text-align: center;" data-aos="fade-up">Rocketry</h3><hr>
                {% regroup roc by get_subsystem_display as team_list %}
                {% for t in team_list %} 
                <button class="accordion">{{ t.grouper }}</button>
                <div class="container panel">
                   
                    <div class="panel__wrapper-icon mb-100 brk-library-rendered" data-brk-library="component__panel">
                        {% for m in t.list %}
                            {% if m.position != "None" %}
                                <div class="panel__head all-light">
                                    <h4 class="head">{{ m.member.name }}</h4>
                                    <p class="headpost">{{ m.get_position_display }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for m in t.list %}
                            <ul class="panel__list">
                                {% if m.position == "None" %}
                                <li>
                                    <span class="line"></span>
                                    <i class=""></i>{{ m.member.name }}
                                </li>
                                {% endif %}								
                                </ul>
                        {% endfor %}   
                    </div>
                    
                </div>
                {% endfor %}

                <br><br>
                
                <h3 style="text-align: center;" data-aos="fade-up">Non-technical</h3><hr>
                {% regroup nontech by get_team_display as team_list %}
                {% for t in team_list %} 
                <button class="accordion">{{ t.grouper }}</button>
                <div class="container panel">
                    <div class="panel__wrapper-icon mb-100 brk-library-rendered" data-brk-library="component__panel">
                        {% for m in t.list %}
                            {% if m.position != "None" %}
                                    <div class="panel__head all-light">
                                        <h4 class="head">{{ m.member.name }}</h4>
                                        <p class="headpost">{{ m.get_position_display }}</p>
                                    </div>
                            {% endif %}
                        {% endfor %}

                    {% for m in t.list %}
                            <ul class="panel__list">
                                {% if m.position == "None" %}
                                 <li>
                                     <span class="line"></span>
                                     <i class="icon far fa-gem"></i>{{ m.member.name }}
                                  </li>
                                {% endif %}								
                               </ul>
                    {% endfor %}   
                            </div>
                    
                </div>
                {% endfor %}
             </div>

        </div>

</section>
{% endblock content %}