{% extends 'base.html' %}
{% block content %}

<section id="One" class="wrapper style3" >
    <div class="inner">
        <header class="align-center">
            <!-- swapped h2 and p -->
            <h2>Research Papers</h2>
            <hr>
            <p>Research is the base of development</p>
        </header>
    </div>
</section>

<section id="three" class="wrapper style2">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="inner">
        <header class="align-center">
            <h2>IAC Papers</h2><hr>
        </header>
            {% regroup papers by year as years %}

            <!-- {% for year in years %}
                <h2>{{ year.grouper }}</h2><hr>
                <ul>
                {% for paper in year.list %}
                <li class="research-li">
                    <h3>Title : {{ paper.title }}</h3> 
                    <h4 style="color: rgb(182, 182, 182);">Author : {{ paper.author.name }}</h4>
                    <h4 style="color: rgb(182, 181, 182);"> Conference : {{ paper.conference }}</h4><br> -->
                    <!--<h3>Abstract:</h3>
                    <p>{{ paper.abstract }}</p>-->
                    <!-- <h4><a href="{{ paper.abstract_pdf }}">Abstract document</a></h4>
                </li><br>
                {% endfor %}
                </ul>
            {% endfor %} -->

            

            {% for year in years %}
            <h2>{{ year.grouper }}</h2>
            <hr>
                <ul class="research-cards">
                    {% for paper in year.list %}
                    <li class="research-li">
                        <a target="_blank" href="{{ paper.abstract_pdf }}">
                            <h3>Title : {{ paper.title }}</h3>
                            <h4>Author : {{ paper.author.name }}</h4>
                            <h4>Conference : {{ paper.conference }}</h4>
                            <!-- <h4><a href="{{ paper.abstract_pdf }}">Abstract document</a></h4> -->
                        </a>
                    </li><br>            
                    {% endfor %}
                </ul>            
            {% endfor %}

    </div>
</section>
{% endblock content %}