{% extends 'base.html' %}
{% block content %}

<section id="One" class="wrapper style3" >
    <div class="inner">
        <header class="align-center">
            <p>Research is the base of development</p>
            <h2>Research Papers</h2>
        </header>
    </div>
</section>

<section id="three" class="wrapper style2">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="inner">
        <header class="align-center">
            <h2>IAC Papers</h2><hr>
        </header>
            {% regroup papers by year as years %}

            {% for year in years %}
                <h2>{{ year.grouper }}</h2><hr>
                <ul>
                {% for paper in year.list %}
                <li>
                    <h3>Title : {{ paper.title }}</h3> 
                    <h4 style="color: rgb(182, 182, 182);">Author : {{ paper.author.name }}</h4>
                    <h4 style="color: rgb(182, 181, 182);"> Conference : {{ paper.conference }}</h4><br>
                    <h3>Abstract:</h3>
                    <p>{{ paper.abstract }}</p>
                    <!--<a href="{{ paper.file }}"><p>abstract document</p></a>--><!--IS FILE OPTION REQUIRED?-->
                </li><br>
                {% endfor %}
                </ul>
            {% endfor %}
    </div>
</section>
{% endblock content %}