{% extends 'base.html' %}
{% block content %}

<section id="One" class="wrapper style3">
    <div class="inner">
      <header class="align-center">
        <!-- swapped h2 and p -->
        <h2>Achievements and notable workshops</h2>
        <hr>
        <p>Commited to upskill the team</p>
      </header>
    </div>
</section>

<section id="two" class="wrapper style2">
  <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="inner">
      <!-- <div class="gallery achv">
        {% for a in achievements %}
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="image fit achv flip-card-front">
              <img
                src="{{ a.photo.url }}"
                alt=""
              /><br>
              <h2>{{ a.title }}</h2> -->
              <!--<p>The members gained a first hand experience in building and deploying a mini cansat</p>-->
            <!-- </div>
            <div class="image fit flip-card-back">
              <h4>{{ a.title }}</h4>
              <p>
                {{ a.description }}
              </p> -->
              <!--<a><p style="font-size: large;">Know More!</p></a>-->
            <!-- </div>
          </div>
        </div>
        {% endfor %}
      </div> -->

      
      {% for a in achievements %}
      <div class="box">
        <div class="left-box">
          <h2>{{ a.title }}</h2>
          {% load static %}
          <img src="{{ a.photo.url }}" alt="" /><br>
        </div>
        <div class="right-box">
          <h4>{{ a.title }}</h4>
          <p>
            {{ a.description }}
          </p>
        </div>
      </div>
      {% endfor %}



    </div>
</section>

{% endblock content %}